# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List libraries for Data Science
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Panda
4. Matplotlib
5. Plotly

| Data Science Tools |
| --------- |
| Jupyter Notebooks |
| RStudio |
| Visual Studio Code (VSCode) |

### Below are a few examples of evaluating arithmetic expressions in Pyt

In [9]:
# This is a simple arithmetic expression to multiply the add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Niccol√≤